:root {
  --spgrey: rgb(15, 15, 15);
  --spdgrey: rgb(5, 5, 5);
  --spgreya: rgba(15, 15, 15, 0.7);
  --spblue: rgb(71, 134, 227);
  --spdblue: rgb(35, 59, 98);
  --spdbluea: rgba(35, 59, 98, 0);
}

h1 {
  color: var(--spblue);
}

#slist {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

#sx {
  width: 30em;
}

#slist > li {
  text-align: center;
  color: var(--spblue);
  font-size: larger;
  margin: 0.7rem 0;
  padding: 10px 20px;
  width: 6em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.86);
  border-radius: 10px;
  display: block;
}

.plcont {
  display: flex;
  flex-direction: row;
  overflow: auto;
  background-image: url("../assets/bg.png");
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100%;
  gap: 1em;
}

.plcont > * {
  transform: translate(5vw, 0);
}

.contcont {
  height: 90vh;
}

.psong {
  cursor: pointer;
  font-size: 2em;
  color: var(--spblue);
  background-color: var(--spgreya);
  list-style-type: none;
  border: 2px var(--spblue) dotted;
  border-radius: 10px;
  width: 80vw;
  padding: 1em 2em;
}

.mainsong,
.songlist {
  width: 100vw;
  gap: 1em;
  padding: 2em;
}

.songs {
  list-style-type: none;
}

.song {
  background-color: var(--spgreya);
  color: var(--spblue);
  padding: 1em 0em 1em 1em;
  border-bottom: 0.1em solid var(--spdgrey);
}

.mainsongimg {
  /* height: 100%; */
  width: 70vw;
  border-radius: 1em;
  background-color: var(--spgreya);
  display: flex;
  padding: 2em;
  gap: 2em;
}

.title {
  color: var(--spblue);
  font-weight: 700;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.tags {
  color: white;
  width: auto;
  font-weight: 400;
  font-size: 0.3em;
  display: flex;
  gap: 0.3em;
}

.tags > div {
  border-radius: 3em;
  padding: 0.2em 1em 0.6em 1em;
  background-color: var(--spdgrey);
}

.mainsongimg > img {
  border-radius: 2em;
  height: 60%;
}

.submitSong {
  background-color: var(--spblue);
  font-size: 1.2em;
  padding: 0.2em 0.7em;
  border-radius: 20em;
  width: 15%;
}
