:root {
  --spgrey: rgb(15, 15, 15);
  --spblue: rgb(71, 134, 227);
  --spdblue: rgb(35, 59, 98);
  --spdbluea: rgba(35, 59, 98, 0);
}

a {
  text-decoration: none;
  color: inherit;
}

.top {
  background-color: rgba(0, 0, 0, 1);
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 10vh;
  margin: 0;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  gap: 20vw;
}

.prof {
  color: white;
  display: flex;
  align-items: center;
  gap: 2em;
}

#logout {
  padding: 0.5em 1em;
  background-color: transparent;
  color: var(--spblue);
  border: 2px var(--spblue) solid;
  border-radius: 0.6em;
}

h3 {
  color: var(--spblue);
  font-size: xx-large;
}

.logo {
  width: 1.5em;
  background-color: var(--spblue);
  padding: 0.8em;
  border-radius: 25%;
}

.heading {
  display: flex;
  align-items: center;
  gap: 1em;
}

.melo {
  color: var(--spblue);
  font-size: 2.5em;
  font-weight: bold;
}

.crs,
.mglass {
  width: 0;
  font-size: 1.2em;
  color: var(--spgrey);
}

.crs {
  transform: translateX(-25px);
  cursor: pointer;
}

.mglass {
  transform: translateX(15px);
}

.search {
  display: flex;
  align-items: center;
}

.sbar {
  width: 20vw;
  padding-left: 50px;
}
